<% include partials/header %>
<h1>Armor Creation</h1>
<p>
<form action="/Armor/save/">

    <label for="name">Name</label> <input type="text" id="name" name="name" /><br />
    <label for="description">Description</label> <input type="text" id="desription" name="description" /><br />
    <label for="defense">Defense</label> <input type="text" id="defense" name="defense" /><br />

    <input type="submit" />
</form>
<% include partials/footer %>