<% include partials/header %>
<h1>Asthetic Creation</h1>
<p>
<form action="/Asthetic/save/">

    <label for="name">Name</label> <input type="text" id="name" name="name" /><br />
    <label for="description">Description</label> <input type="text" id="desription" name="description" /><br />
    <label for="defense">Bonus</label> <input type="text" id="bonus" name="bonus" /><br />

    <input type="submit" />
</form>
<% include partials/footer %>