<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/Vanguard/?id=<%= rs[i].id %>"> <%= rs[i].name %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No Vanguards are entered into the Vanguard database table.
    <% } %>
</div>
