<% include partials/header %>
<h1>Destiny Tower Vending</h1>
<p>
    <br />
    <h1>Vendors</h1>
    <a href="/Vanguard/all">Vanguard Vendors</a>
    <br/>
    <a href="/vanguarditemsview/all">Vendor Sales</a>
    <br />
    <a href="/Faction/all">Faction Vendors</a>
    <br />
    <a href="/factionitemsview/all">Faction Sales</a>
    <br />
    <h1>Items</h1>
    <a href="/Weapon/all">All Weapons Available</a>
    <br />
    <a href="/Armor/all">All Armor Available</a>
    <br />
    <a href="/Asthetic/all">All Asthetic Available</a>
    <br />
    <h1>Tower Goers</h1>
    <a href="/Player/all">All Players</a>
    <br />
    <a href="/playerview/all">Player Loadouts</a>
    <br/>
    <h1>About</h1>
    <a href="/users/About">About Developer</a>


<% include partials/footer %>