<%include partials/header %>
<h1>Destiny Tower Vending</h1>
<p>
    <br />
    <h1>Vendors</h1>
    <a href="/Vanguard/?id=1">Vanguard By ID</a>
    <br />
    <a href="/Vanguard/all">All Vanguard</a>
    <br/>
    <a href="/Faction/?id=1">Faction By ID</a>
    <br />
    <a href="/Faction/all">All Faction</a>
    <br />
    <h1>Items</h1>
    <a href="/Weapon/?id=1">Weapon By ID</a>
    <br />
    <a href="/Weapon/all">All Weapon</a>
    <br />
    <a href="/Armor/?id=1">Armor By ID</a>
    <br />
    <a href="/Armor/all">All Armor</a>
    <br />
    <a href="/Asthetic/?id=1">Asthetic By ID</a>
    <br />
    <a href="/Asthetic/all">All Asthetic</a>
    <br />
    <h1>Tower Goers</h1>
    <a href="/Player/all">All Players</a>
    <br />
    <a href="/Player/?id=1">Players By ID</a>
    <br />
    <a href="/playerview/?id=1">Player View</a>
<% include partials/footer%>